/* Global Styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #89c82e;
  height: 40px;
  border-bottom: #3c3c3b 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Navbar links */
.navbar a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  position: relative;
  display: inline-block;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(120deg, #636361 0%, #636361 100%);
  background-repeat: no-repeat;
  background-size: 100% 0em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.navbar span {
  color: #ffffff;
  background-color: #636361;
  font-size: 20px;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 15px 15px 0 0;
}

.navbar .open-icon,
.navbar .close-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(120deg, #636361 0%, #636361 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 100% 0;
  transition: background-size 0.25s ease-in;
}

/* Hover effect */
.navbar a:hover {
  background-size: 100% 100%;
}

/* Dropdown Navbar */
.navbar.dropdown {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background-color: #89c82e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 40px;
  overflow: hidden;
}

.navbar.dropdown a {
  display: none;
}

.navbar.dropdown.responsive {
  height: 110px;
}

.navbar.dropdown.responsive a {
  display: block;
}

/* Dropdown link hover effect */
.navbar.dropdown a {
  background: linear-gradient(120deg, #636361 0%, #636361 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.navbar.dropdown a:hover {
  background-size: 100% 100%;
}

.navbar.dropdown .open-icon,
.navbar.dropdown .close-icon {
  background-position: 100% 0;
}

.navbar.dropdown .open-icon:hover,
.navbar.dropdown .close-icon:hover {
  background-size: 100% 100%;
}

/* Form Styles */
form {
  background-color: #89c82e;
  border-radius: 30px;
  border: #3c3c3b 4px solid;
  padding: 30px 25px 10px;
}

/* Label Styles */
label {
  padding-right: 4px;
  color: #3c3c3b;
  text-align: left;
  width: 50px;
}

/* Input Styles */
input {
  min-width: 215px;
  height: 1.3rem;
  color: black;
  padding-left: 4px;
  border: none;
}

/* Hide spinner controls for number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Button Styles */
button {
  font-family: inherit;
  font-size: inherit;
  justify-self: center;
  padding: 2px 10px;
  border-radius: 3px;
  border: #3c3c3b 1px solid;
  background-color: #e70064;
  cursor: pointer;
}

.background {
  position: fixed;
  inset: 0;
  background: url("/src/background-image.webp");
  filter: brightness(0.4);
  z-index: -1;
}

/* Placeholder Styles */
.placeholder-white::placeholder {
  color: white;
}

/* Input Group Styles */
.input-group {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

/* Success Styles */
.success {
  background-color: none;
}

/* Error Styles */
.error {
  background-color: #e70064;
  color: white;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: baseline;
  }

  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }

  .navbar.dropdown {
    display: flex;
    transition: height 0.2s ease;
  }

  .navbar.dropdown span {
    margin: 0;
    padding: 6px 10px 6px 6px;
    border-radius: 0 10px 10px 0;
  }

  .navbar.dropdown a {
    margin: 0;
    padding: 6px 10px 6px 6px;
    border-radius: 0 15px 15px 0;
    background: linear-gradient(120deg, #636361 0%, #636361 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
  }

  .navbar.dropdown a:hover {
    background-size: 100% 100%;
  }

  .navbar.dropdown .open-icon {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 12px;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(120deg, #636361 0%, #636361 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: 100% 0;
    transition: background-size 0.25s ease-in;
  }

  .navbar.dropdown .close-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 12px;
    border-radius: 10px 0 0 10px;
    background: linear-gradient(120deg, #636361 0%, #636361 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position: 100% 0;
    transition: background-size 0.2s ease-in;
  }

  .navbar.dropdown .open-icon:hover,
  .navbar.dropdown .close-icon:hover {
    background-size: 100% 100%;
  }

  .navbar.dropdown.responsive .open-icon {
    display: none;
  }

  .navbar.dropdown.responsive .close-icon {
    display: inline;
  }
}
