/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #2e2e2e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #89c82e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Body Styles */
body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

/* Background */
.background {
  position: fixed;
  inset: 0;
  background: url("src/background-image.webp") center/cover;
  filter: brightness(0.4);
  z-index: -1;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #89c82e;
  height: 40px;
  outline: 4px solid #3c3c3b;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* Navbar links and span */
.navbar a,
.navbar span {
  font-size: 18px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 15px 15px 0 0;
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(120deg, #3c3c3b 0%, #3c3c3b 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
}

.navbar span {
  background-color: #e70064;
  color: #ffffff;
}

/* Navbar Buttons */
.navbar button.open-icon,
.navbar button.close-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
  padding: 10px 10px 10px 12px;
  border: none;
  border-radius: 5px 0 0 5px;
  background: linear-gradient(120deg, #3c3c3b 0%, #3c3c3b 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 100% 0;
  transition: background-size 0.25s ease-in;
}

/* Hover effect */
.navbar a:hover {
  background-size: 100% 100%;
}

/* Form Styles */
form {
  background-color: #89c82e;
  border-radius: 30px;
  border: 4px solid #3c3c3b;
  padding: 30px 25px 10px;
}

/* Label Styles */
label {
  padding-right: 4px;
  color: #3c3c3b;
  text-align: left;
  width: 50px;
}

/* Input Styles */
input {
  min-width: 215px;
  height: 1.3rem;
  padding-left: 4px;
  border: none;
}

/* Hide spinner controls for number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

/* Button Styles */
button {
  font: inherit;
  justify-self: center;
  padding: 2px 10px;
  border-radius: 3px;
  border: 1px solid #3c3c3b;
  background-color: #e70064;
  cursor: pointer;
}

/* Placeholder Styles */
.placeholder-white::placeholder {
  color: white;
}

/* Input Group Styles */
.input-group {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

/* Error Styles */
.error {
  background-color: #e70064;
  color: white;
}

/* Iframe Styles - Pdf embed */
iframe {
  width: 100%;
  height: 100vh;
  margin-top: 40px;
}

/* Reflection Page Styles */
main {
  margin: calc(40px + 40px) 0 40px 0;
}

.content {
  width: 80%;
  margin: auto;
  max-width: 1400px;
  text-align: justify;
  hyphens: auto;
  color: #ffffff;
  background-color: #3c3c3b;
  opacity: 0.95;
  line-height: 1.4;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content h1 {
  font-size: xx-large;
}

.content h2 {
  font-size: larger;
  margin-top: 30px;
  margin-bottom: 10px;
}

.content h2:first-child {
  margin-top: 20px;
}

.content p {
  font-size: medium;
  margin-bottom: 15px;
}

code {
  font-size: large;
}

.code-block {
  padding-left: 30px;
}

ol,
ul {
  padding-left: 30px;
}

.footer {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  font-size: medium;
}

.footer a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* Navbar Styles */
  .navbar {
    flex-direction: column;
    align-items: baseline;
    transition: height 0.2s ease, padding 0.2s ease;
  }

  .navbar.responsive {
    height: 110px;
  }

  .navbar span,
  .navbar a {
    margin: 0;
    padding: 9px 9px 9px 5px;
    border-radius: 0 5px 5px 0;
  }

  .navbar a {
    display: none;
    background-size: 0% 100%;
    background-position: 0 100%;
  }

  .navbar.responsive a {
    display: inline;
  }

  .navbar a:hover {
    background-size: 100% 100%;
  }

  .navbar button.open-icon {
    display: block;
  }

  .navbar button.close-icon {
    display: none;
  }

  .navbar button.open-icon:hover,
  .navbar button.close-icon:hover {
    background-size: 100% 100%;
  }

  /* Reflection Styles */
  main {
    margin: 50px 0 10px 0;
  }

  .content {
    width: 95%;
    padding: 10px 15px 10px 15px;
  }

  .content h1 {
    font-size: x-large;
  }

  .content h2 {
    font-size: large;
  }

  .content p,
  .content a,
  .content code,
  ol,
  ul {
    font-size: small;
  }

  .content a {
    font-size: small;
  }

  code {
    font-size: medium;
  }
}
